server:
  port: 8082

spring:
  application:
    name: movie-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/cineior}
    username: ${SPRING_DATASOURCE_USERNAME:cineior}
    password: ${SPRING_DATASOURCE_PASSWORD:cineior123}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

tmdb:
  api:
    key: ${TMDB_API_KEY:your_tmdb_api_key}
    base-url: https://api.themoviedb.org/3
  image:
    base-url: https://image.tmdb.org/t/p
