server:
  port: 8083

spring:
  application:
    name: user-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/cineior}
    username: ${SPRING_DATASOURCE_USERNAME:cineior}
    password: ${SPRING_DATASOURCE_PASSWORD:cineior123}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

movie-service:
  url: ${MOVIE_SERVICE_URL:http://localhost:8082}
